@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

:root {
  --bold-font: "Francois One", sans-serif;
  --color-red: red;
  --cursive-font: "Alex Brush", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("./images/bodyimg.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: right;
}

img {
  max-width: 100%;
}

/* general section styling */
.section_header {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: var(--color-red);
  text-align: center;
  font-family: var(--cursive-font);
  font-weight: normal;
  display: block;
}

section {
  margin-bottom: 7em;
  scroll-margin-top: 12.5vh;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

li {
  list-style: none;
  padding: 0.5em 1em;
}

/*top bar*/

header {
  position: sticky;
  width: 100%;
  background-color: var(--color-red);
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  transition: 0.6s;
  z-index: 999;
}

.header__logo {
  width: 300px;
  padding-bottom: 1em;
}

/*navbar*/

nav {
  display: flex;
  font-size: large;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid green; */
}

.nav__li {
  list-style: none;
  padding: 0.5em 1em;
  /* border: 1px solid orange; */
}

.nav__a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: black;
  font-size: 1em;
  font-family: var(--bold-font);
}

.nav__li:hover {
  background: white;
}

.nav__a:focus {
  color: orange;
}

.header__nav-toggle {
  display: none;
}

/* .nav-toggle {
  display: none;
} */

/* hero section */

.hero_img {
  background: url("./images/backgroundimg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  margin-bottom: 3em;
  display: grid;
  place-content: center;
}

.hero_logo_container {
  margin: 0 auto;
  background: white;
  padding: 1em 3em;
  position: relative;
  /* z-index: 1; */
  font-family: var(--bold-font);
  text-transform: uppercase;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* About */

.about {
  width: 90%;
  margin: auto;
}

/* .about_section {
  width: 90%;
  margin: auto;
} */

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
}

/* .about_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 2em;
} */

.about__text {
  flex-basis: 45%;
  flex-grow: 1;
  align-self: center;
  font-size: 1.25rem;
  background: white;
  padding: 2em;
  font-family: var(--bold-font);
}
/* .about_text {
  flex-basis: 45%;
  flex-grow: 1;
  align-self: center;
  font-size: 1.25rem;
  background: white;
  padding: 2em;
  font-family: var(--bold-font);
} */

.about__img {
  flex-basis: calc(50% -2em);
}
/* 
.about_img {
  flex-basis: calc(50% -2em);
} */

.imgBorder {
  padding: 20px;
  background-color: #fbf2f0;
  border: 3px solid #030202;
  box-shadow: 10px 10px 2px 0 rgba(27, 20, 20, 0.05);
}

/*main menu section*/

.menu {
  width: 90%;
  margin: 0 auto;
}

/* .main_menu_section {
  width: 90%;
  margin: 0 auto;
} */

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: min-content;
}

.grid__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  border: 2px dashed black;
  border-radius: 10px;
  overflow: hidden;
  padding: 1em;
  background: white;
}

/* .foodsection {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1em;
  border: 2px dashed black;
  border-radius: 10px;
  overflow: hidden;
  padding: 1em;
  background: white;
} */

.grid__item:hover {
  border: 2px dashed red;
}

/* .foodsection:hover {
  border: 2px dashed red;
} */

.menu__img {
  width: 50%;
  object-fit: cover;
  object-position: center;
  min-height: fit-content;
  height: 100%;
}

/* .menuimg {
  width: 50%;
  object-fit: cover;
  object-position: center;
  min-height: fit-content;
  height: 100%;
} */

.menu__text {
  flex-basis: 50%;
}

/* .foodcategory{
  flex-basis: 50%;

} */

.menu__title {
  text-align: center;
  font-family: var(--bold-font);
  font-size: 1.75em;
}

/* .foodcategory1 {
  text-align: center;
  font-family: var(--bold-font);
  font-size: 1.75em;
} */

.menu__item {
  display: flex;
  justify-content: space-between;
}

/* .foodlist {
  display: flex;
  justify-content: space-between;
} */

.menu__dish {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
}

/* .dish {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
} */

.menu__img--fish {
  object-position: left center;
}

/*catering section*/

.menu_content {
  background: white;
  padding: 2em;
}

.catering {
  width: 90%;
  margin: 0 auto;
}

/* menu "header" */

.menu_intro_message {
  text-align: center;
  font-style: italic;
  font-family: var(--bold-font);
  font-size: 2rem;
}

.catering_note {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
}

.column_container {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu_items {
  flex: 1;
}

.menu_item {
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.menu_item-title {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.menu_item-descrip {
  font-style: italic;
  font-weight: normal;
  text-transform: lowercase;
}

.price {
  font-size: 0.7rem;
}

/*hours+location*/
.hourslocal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}

.hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}

.visit {
  align-self: center;
  color: black;
  font-family: var(--bold-font);
  font-size: 3rem;
}

.hourheader {
  align-self: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: m;
}

.day {
  display: flex;
  justify-content: space-between;
  text-align: right;
  font-weight: bold;
}

.address {
  align-self: center;
  font-weight: bold;
  color: red;
  font-size: 1rem;
  padding-top: 1em;
  text-align: center;
  font-family: var(--bold-font);
}

/*contact section*/

.contactUs {
  width: 100%;
  min-height: 45vh;
}

.contact_container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4em;
  width: 70%;
  margin: auto;
  background: white;
}

.contact {
  flex: calc(33% - 2em);
}

.label {
  font-weight: bold;
  font-family: var(--bold-font);
  font-size: 1.25em;
}

/*footer section*/
footer {
  background: black;
  color: white;
  position: static;
}

.footer_container {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
  gap: 2em;
}

.footercol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  flex: 1;
}

.footer_h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: red;
  font-family: var(--bold-font);
}

.footercol p {
  color: white;
  font-weight: 500;
}

.contacticons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: larger;
}

.followus {
  margin-bottom: 2.75em;
}

.grubhub {
  margin-top: 1em;
  width: 90px;
  align-self: center;
}

/* copyright banner */
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35em;
  font-size: small;
  margin: 1em;
}
#cr {
  font-size: small;
  margin-top: 0.12em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: var(--bold-font);
}

#myBtn:hover {
  background-color: #555;
}

/* media queries  */

@media (max-width: 830px) {
  /* navbar  */

  .header__nav-toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 1.75rem;

    color: white;
    transition: opacity 250ms ease;
    position: absolute;
    right: 2em;
    top: 2em;
  }

  .nav {
    display: none;
    position: fixed;
    top: 5.6em;
    left: 0;
    text-align: center;
    /* flex-direction: column; */
    /* align-items: center; */
    width: 100%;
    background: var(--color-red);
  }

  .active {
    display: block;
  }

  /* about section  */

  .about__text {
    font-size: 1em;
  }

  .hero_logo_container {
    font-size: 0.6rem;
  }

  /* main menu  */

  .grid {
    grid-template-columns: 1fr;
  }

  .grid__item {
    flex-direction: column;
    align-items: stretch;
  }

  .menu__img {
    width: 100%;
  }

  /* catering section */
  .menu_item:last-child {
    margin-bottom: 0;
  }

  .column_container {
    flex-direction: column;
  }

  /* contact section */
  .contact_container {
    flex-direction: column;
    align-items: center;
    gap: 0em;
  }

  .contact {
    margin-top: 1em;
  }

  .footer_container {
    flex-direction: column;
    gap: 3em;
  }
}
